*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: #f6f6f6;
}

main{
    display: flex;
    align-items:center;
    justify-content:center;
}

img{
    margin-top: 30%;
    margin-left: 50px;
}

h1{
    color: #f6f6f6;
}

 strong{
    color: #2dfd
}

.botoes{
    display: flex;
    align-items: center;
}

a{
    color: black;
    padding: 10px;
    padding-right: 80px;
    background-color: aqua;
    border: aqua solid;
    border-radius: 8px;
    text-decoration: none;
    
}

#git{
    margin-left: 30px;
}